.c-header {
  display: block; }
  .c-header__navegacion {
    display: flex;
    align-items: flex-end;
    list-style-type: none; }
    .c-header__navegacion__item {
      text-decoration: none; }
  .c-header__logo {
    width: 200px; }

.c-footer {
  color: white;
  font-weight: 500;
  background-color: #ff72c7;
  text-align: center; }
  .c-footer__mensaje {
    padding: 0 10px; }

.c-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); }
  .c-grid__portada {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-repeat: round; }
    .c-grid__portada__boton {
      background-color: #ff72c7;
      color: white; }
  .c-grid__descripcion {
    text-align: center; }
    .c-grid__descripcion__titulo {
      font-weight: 700;
      color: #00d7b3ff;
      text-align: center; }
  .c-grid__seccion {
    display: grid; }
  .c-grid__menu {
    display: grid; }
  .c-grid__submenu {
    display: grid; }

.plato1-imagen {
  background-image: url("../recursos/menu_1.png");
  width: 200px;
  height: 112.5px;
  border-radius: 10px;
  background-size: cover; }

.plato2-imagen {
  background-image: url("../recursos/menu_2.png");
  width: 200px;
  height: 112.5px;
  border-radius: 10px;
  background-size: cover; }

.plato3-imagen {
  background-image: url("../recursos/menu_3.png");
  width: 200px;
  height: 112.5px;
  border-radius: 10px;
  background-size: cover; }

.plato4-imagen {
  background-image: url("../recursos/menu_4.png");
  width: 200px;
  height: 112.5px;
  border-radius: 10px;
  background-size: cover; }

.plato5-imagen {
  background-image: url("../recursos/menu_7.png");
  width: 200px;
  height: 112.5px;
  border-radius: 10px;
  background-size: cover; }

.plato6-imagen {
  background-image: url("../recursos/menu_6.png");
  width: 200px;
  height: 112.5px;
  border-radius: 10px;
  background-size: cover; }

@media screen and (min-width: 1150px) {
  .c-grid__seccion {
    grid-template-areas: "h3 h3 h3" "promos_1 promos_2 promos_3";
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; }
  .c-grid__menu {
    grid-template-areas: "h3 h3 h3" "h4 h4 h4" "promos_1 promos_2 promos_3";
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; }
  .c-grid__submenu {
    grid-template-areas: "h4 h4 h4" "promos_1 promos_2 promos_3";
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; } }

@media screen and (min-width: 631px) and (max-width: 1149px) {
  .c-grid__seccion {
    grid-template-areas: "h3 h3" "promos_1 promos_2" "promos_3 promos_3";
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; }
  .c-grid__menu {
    grid-template-areas: "h3 h3" "h4 h4" "promos_1 promos_2" "promos_3 promos_3";
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; }
  .c-grid__submenu {
    grid-template-areas: "h4 h4" "promos_1 promos_2" "promos_3 promos_3";
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; } }

@media screen and (min-width: 400px) and (max-width: 630px) {
  .c-grid__seccion {
    grid-template-areas: "h3" "promos_1" "promos_2" "promos_3";
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; }
  .c-grid__menu {
    grid-template-areas: "h3" "h4" "promos_1" "promos_2" "promos_3";
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; }
  .c-grid__submenu {
    grid-template-areas: "h4" "promos_1" "promos_2" "promos_3";
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; } }

@media screen and (max-width: 399px) {
  .c-grid__seccion {
    grid-template-areas: "h3" "promos_1" "promos_2" "promos_3";
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; }
  .c-grid__menu {
    grid-template-areas: "h3" "h4" "promos_1" "promos_2" "promos_3";
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; }
  .c-grid__submenu {
    grid-template-areas: "h4" "promos_1" "promos_2" "promos_3";
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; } }

h1 {
  color: #6e4cc2ff;
  font-size: 70px;
  font-style: italic;
  font-family: 'Barlow', sans-serif;
  text-align: center;
  text-shadow: 3px 3px #ffddedff; }

li {
  padding: 10px; }

a {
  text-decoration: none;
  color: #ff72c7; }

#iconos i {
  color: white;
  padding: 0 10px; }

nav {
  order: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }

body {
  color: #999999;
  font-family: "Questrial", sans-serif; }

h3 {
  color: #ff72c7;
  font-weight: 500;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  grid-area: h3;
  padding-top: 15px; }

h4 {
  grid-area: h4; }

.promo_key1 {
  grid-area: promos_1; }

.promo_key2 {
  grid-area: promos_2; }

.promo_key3 {
  grid-area: promos_3; }

.botoncomun, .botondestacado {
  background-color: #6e4cc2ff;
  color: white;
  padding: 0 10px; }

.botondestacado {
  border-radius: 10px;
  font-weight: bold; }

.promos_imagen {
  width: 200px;
  border-radius: 10px; }

.promos_tarjetas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffddedff;
  padding: 40px;
  margin: auto;
  width: 200px;
  height: 300px;
  border-radius: 30px; }

.categorias {
  display: flex; }

*, ::after, ::before {
  box-sizing: inherit; }

.promos_parrafo {
  text-align: justify;
  padding: 5px 0;
  height: 150px; }

.no_padding {
  padding: 5px 0; }
