// MAP
$platos: (
    plato1: menu_1,
    plato2: menu_2,
    plato3: menu_3,
    plato4: menu_4,
    plato5: menu_7,
    plato6: menu_6
);
@each $key, $plato in $platos {
    .#{$key}-imagen {
        background-image: url('../recursos/#{$plato}.png');
        width: 200px;
        height: 112.5px;
        border-radius: 10px;
        background-size: cover;
    }
}