.c-promos {
    &__tarjetas {
        display: flex;
        flex-direction:column;
        align-items:center;
        background-color:#ffddedff;  
        padding: 40px;
        margin: auto; 
        width: 200px;
        height: 300px;
        border-radius: 30px;
        &__imagen {
            width: 200px;
            border-radius: 10px;
        }
        &__parrafo {
            text-align: justify;
            padding: 5px 0;
            height: 260px;
        }
    }
    &__1 {
        grid-area: promos_1;
    }
    &__2 {
        grid-area: promos_2;
    }
    &__3 {
        grid-area: promos_3;
    }
}