@import 'variables';
@import 'header';
@import 'footer';
@import 'grid';
@import 'promos';
@import 'mediaqueries';

h1 {
    color:$color-titulos; 
    font-size: 70px;   
    font-style: italic;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    text-shadow: 3px 3px #ffddedff;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: $color-principal;
}

#iconos i {
    color: white;
    padding: 0 10px;
}

nav {
    order: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

body {
    color: #999999; 
    font-family: $letra-principal   
}

h3 {
    color: $color-principal; 
    font-weight: 500;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    grid-area: h3;
    padding-top: 15px;
}

h4 {
    grid-area: h4;
}

// MAP
$promos: (
    key1 : 1,
    key2 : 2,
    key3 : 3
);
@each $key, $promo in $promos {
    .promo_#{$key} {
        grid-area: promos_#{$promo};
    }
}

.botoncomun {
    background-color:$color-titulos; 
    color: hsl(0, 0%, 100%); 
    padding: 0 10px;
}

// EXTEND
.botondestacado {
    border-radius: 10px;
    font-weight: bold;
    @extend .botoncomun
}

.promos_imagen {
    width: 200px;
    border-radius: 10px;
}

.promos_tarjetas {
    display: flex;
    flex-direction:column;
    align-items:center;
    background-color:#ffddedff;  
    padding: 40px;
    margin: auto; 
    width: 200px;
    height: 300px;
    border-radius: 30px;
}

.categorias {
    display: flex;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.promos_parrafo {
    text-align: justify;
    padding: 5px 0;
    height: 150px;
}

.no_padding {
    padding: 5px 0;
}